@media only screen and(max-width:1440px) {
    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    body {
        background-color: #f0f2f5;
    }

    .card {
        margin: auto;
        margin-top: 8rem;
        background: #fff;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 33rem;
        height: 24rem;
        font-family: 'outfit', sans-serif;
        font-size: 0.875rem;
        overflow: hidden;
    }

    .perfume {
        color: hsl(228, 12%, 48%);
        font-family: Monsterrat;
        margin-left: 19rem;
        padding: 1rem;
        padding-bottom: 0.1rem;
        letter-spacing: 0.3rem;
        font-size: 0.7rem;
        font-weight: 550;
    }

    p {
        color: hsl(212, 21%, 14%);
        font-family: Fraunces;
        font-weight: 700;
        font-size: x-large;
        margin-left: 19rem;
        padding: 0.8rem;
    }

    .floral {
        color: hsl(228, 12%, 48%);
        font-family: Monsterrat;
        margin-left: 19rem;
        padding: 1rem;
        padding-top: 0%;
        padding-bottom: 0.6rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.2rem;
    }

    .new-price {
        color: hsl(158, 36%, 37%);
        font-family: Fraunces;
        font-weight: 700;
        font-size: x-large;
        margin-left: 19rem;
        padding: 1rem;
    }

    .old-price {
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
        font-weight: 500;
        font-size: 0.8rem;
        text-align: center;
        padding: 0.5rem;
        font-family: Monsterrat;
    }

    #image {
        width: 18rem;
        height: 24rem;
        float: left;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    button {
        display: inline;
        position: relative;
        margin-left: 2rem;
        height: 2.5rem;
        width: 11rem;
        text-align: center;
        color: #fff;
        background-color: hsl(158, 36%, 37%);
        border: none;
        font-family: Monsterrat;
        font-weight: 700;
        font-size: medium;
        border-radius: 0.5rem;
        margin-bottom: 0.9rem;
        transition: 0.4s;
    }

    button:hover {
        background-color: hsl(158, 36%, 29%);
        transition: 0.4s;
    }

    footer {
        font-size: medium;
        font-weight: 460;
    }

    footer a {
        text-decoration: none;
        color: hsl(158, 36%, 37%);
    }
}

@media only screen and(max-width:375px) {
    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    body {
        background-color: #f0f2f5;
    }

    .card {
        margin: auto;
        margin-top: 8rem;
        background: #fff;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 33rem;
        height: 24rem;
        font-family: 'outfit', sans-serif;
        font-size: 0.875rem;
        overflow: hidden;
    }

    .perfume {
        color: hsl(228, 12%, 48%);
        font-family: Monsterrat;
        margin-left: 19rem;
        padding: 1rem;
        padding-bottom: 0.1rem;
        letter-spacing: 0.3rem;
        font-size: 0.7rem;
        font-weight: 550;
    }

    p {
        color: hsl(212, 21%, 14%);
        font-family: Fraunces;
        font-weight: 700;
        font-size: x-large;
        margin-left: 19rem;
        padding: 0.8rem;
    }

    .floral {
        color: hsl(228, 12%, 48%);
        font-family: Monsterrat;
        margin-left: 19rem;
        padding: 1rem;
        padding-top: 0%;
        padding-bottom: 0.6rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.2rem;
    }

    .new-price {
        color: hsl(158, 36%, 37%);
        font-family: Fraunces;
        font-weight: 700;
        font-size: x-large;
        margin-left: 19rem;
        padding: 1rem;
    }

    .old-price {
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
        font-weight: 500;
        font-size: 0.8rem;
        text-align: center;
        padding: 0.5rem;
        font-family: Monsterrat;
    }

    #image {
        width: 18rem;
        height: 24rem;
        float: left;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    button {
        display: inline;
        position: relative;
        margin-left: 2rem;
        height: 2.5rem;
        width: 11rem;
        text-align: center;
        color: #fff;
        background-color: hsl(158, 36%, 37%);
        border: none;
        font-family: Monsterrat;
        font-weight: 700;
        font-size: medium;
        border-radius: 0.5rem;
        margin-bottom: 0.9rem;
        transition: 0.4s;
    }

    button:hover {
        background-color: hsl(158, 36%, 29%);
        transition: 0.4s;
    }

    footer {
        font-size: medium;
        font-weight: 460;
    }

    footer a {
        text-decoration: none;
        color: hsl(158, 36%, 37%);
    }
}

@font-face {
    font-family: Monsterrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Fraunces;
    src: url(Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f2f5;
}

.card {
    margin: auto;
    margin-top: 8rem;
    background: #fff;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 33rem;
    height: 24rem;
    font-family: 'outfit', sans-serif;
    font-size: 0.875rem;
    overflow: hidden;
}

.perfume {
    color: hsl(228, 12%, 48%);
    font-family: Monsterrat;
    margin-left: 19rem;
    padding: 1rem;
    padding-bottom: 0.1rem;
    letter-spacing: 0.3rem;
    font-size: 0.7rem;
    font-weight: 550;
}

p {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-weight: 700;
    font-size: x-large;
    margin-left: 19rem;
    padding: 0.8rem;
}

.floral {
    color: hsl(228, 12%, 48%);
    font-family: Monsterrat;
    margin-left: 19rem;
    padding: 1rem;
    padding-top: 0%;
    padding-bottom: 0.6rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2rem;
}

.new-price {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-weight: 700;
    font-size: x-large;
    margin-left: 19rem;
    padding: 1rem;
}

.old-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    font-family: Monsterrat;
}

#image {
    width: 18rem;
    height: 24rem;
    float: left;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

button {
    display: inline;
    position: relative;
    margin-left: 2rem;
    height: 2.5rem;
    width: 11rem;
    text-align: center;
    color: #fff;
    background-color: hsl(158, 36%, 37%);
    border: none;
    font-family: Monsterrat;
    font-weight: 700;
    font-size: medium;
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
    transition: 0.4s;
}

button:hover {
    background-color: hsl(158, 36%, 29%);
    transition: 0.4s;
}

footer {
    font-size: medium;
    font-weight: 460;
}

footer a {
    text-decoration: none;
    color: hsl(158, 36%, 37%);
}